<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<button type="button" class="btn btn-outline-secondary"><%= link_to 'Show', @project %></button> 
<button type="button" class="btn btn-outline-secondary"><%= link_to 'Back', root_path %></button>
